body, html {
	margin: 0;
	padding: 0;
}

body.loading {
	background-image: url('../img/load.gif');
	background-size: auto;
  background-repeat: no-repeat;
	background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
	background-image: url('http://distilleryimage10.instagram.com/e621fabce93211e1a58122000a1de2c6_7.jpg');
	background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.loading .header {
	display: none;
}


body {
	font-family: 'lucida grande', sans-serif;
	line-height: 1.4em;
	
}

.header {
	width: 100%;
}

.header img.logo {
	margin: 10px 0 0 -350px;
	position: relative;
	left: 50%;
}


#newest {
	position: relative;
	left: 0;
	top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


ul li {
	width: 200px;
	background: #fff;
	margin: 0px !important;
	padding: 20px 20px;
	margin: 10px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

ul li.twitter {
	list-style: none;
	margin-bottom: 20px;
}

ul li.new {
	background: rgba(255,255,0,1);
}

ul li.instagram, ul li.instagram {
	float: left;
	margin: 0 10px 5px 0;
}


ul li .from img {
	width: 25px;
	height: 25px;
}

ul li.instagram img.ig {
	width: 200px;
	height: 200px;
}

ul li .from {
	margin-bottom: 15px;
	position: relative;
	padding-left: 35px;
	padding-top: 3px;
	font-size: 12px;
}

ul li .from img {
	position: absolute;
	left: 0px;
	top: 0px;
}

ul li.twitter h3 {
	font-size: 20px;
	color: #000;
	font-weight: normal;
	line-height: 1.4em;
	font-family: georgia;
	margin: 0;
	padding: 0;
}