body, html {
	margin: 0;
	padding: 0;
}

body.loading {
	background-image: url('../img/load.gif');
	background-size: auto;
  background-repeat: no-repeat;
	background-position: 50%;
}

body.loading .header {
	display: none;
}


body {
	font-family: 'lucida grande', sans-serif;
	line-height: 1.4em;
	
}

.header {
	height: 100px;
	padding: 50px;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: fixed 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header img {
	width: 300px;
	margin: 0 auto;
}

.content {
}

#newest {
	position: relative;
	left: 0;
	top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


ul li {
	width: 300px;
	background: #fff;
	margin: 0px !important;
	padding: 20px 20px;
	border-left: 1px solid #eee;
	border-top: 1px solid #efefef;
}

ul li.twitter {
	list-style: none;
	margin-bottom: 20px;
}

ul li.new {
	background: #9cbbe4;
}

ul li.instagram, ul li.instagram {
	float: left;
	margin: 0 10px 5px 0;
}

ul li.instagram img {
	width: 300px;
	height: 300px;
}

ul li .from {
	margin-bottom: 30px;
	position: relative;
	padding-left: 60px;
	padding-top: 10px;
}

ul li .from img {
	position: absolute;
	left: 0px;
	top: 0px;
}

ul li.twitter h3 {
	background: #fff;
	display: inline;
	font-size: 20px;
	color: #000;
	font-weight: normal;
	line-height: 1.4em;
	font-family: georgia;
}